@using XClaim.Common.Dtos
@inject ITeamService Http
@page "/app/settings/teams"
@attribute [Authorize]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private IEnumerable<TeamResponse> _elements = new List<TeamResponse>();
    private HashSet<TeamResponse> SelectedItems { get; set; } = new HashSet<TeamResponse>();
    private int CurrentPage { get; set; } = 1;
    
    protected override async Task OnInitializedAsync() => await LoadItems();

    private async Task LoadItems() {
        this.Loading = true;
        _elements = await Http.GetAllAsync();
        this.Loading = false;
    }

    private void ArchiveSelectedItems(bool result) => Console.WriteLine(result);
    
    private Func<TeamResponse, bool> Filter => x => string.IsNullOrWhiteSpace(Search) || x.Name.Contains(Search, StringComparison.OrdinalIgnoreCase);
}

<Title>Teams</Title>

<MudDataGrid T="TeamResponse" Items="@_elements" MultiSelection="true" SelectedItems="SelectedItems" Loading="Loading" Height="@WebConst.TableHeight" Hover="true"
             SortMode="SortMode.Multiple" Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="CurrentPage">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="FormDialog" IsFilterActive="false" @bind-Search="Search">
            <DeleteConfirmation Count="@SelectedItems.Count" OnDeleted="ArchiveSelectedItems"></DeleteConfirmation>
        </TableToolbar>
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <SelectColumn T="TeamResponse" ShowInFooter="false" ShowInHeader="false" />
        <Column T="TeamResponse" Field="Name" />
        <Column T="TeamResponse" Field="Active" />
        <Column T="TeamResponse" Field="Manager">
            <CellTemplate>
                @(context.Item.Manager?.FullName ?? "Un-Assigned")
            </CellTemplate>
        </Column>
        <Column T="TeamResponse" Field="Company">
            <CellTemplate>
                @(context.Item.Company?.ShortName ?? "Un-Assigned")
            </CellTemplate>
        </Column>
        <Column T="TeamResponse" Field="Description" />
        <Column T="TeamResponse">
            <CellTemplate>
                <MudIconButton Class="pa-2" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Warning" />
                <MudIconButton Class="pa-2 ml-1" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" />
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="TeamResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>