@using XClaim.Common.Dtos
@using XClaim.Common.Helpers
@inject ITeamService Http
@page "/app/settings/teams"
@attribute [Authorize(Roles = "System, Administrator")]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private int Current { get; set; } = 1;
    MudDataGrid<TeamResponse>? _dataGrid;
    private HashSet<TeamResponse> SelectedItems { get; set; } = new HashSet<TeamResponse>();
    
    private async Task<GridData<TeamResponse>> ServerDataFunc(GridState<TeamResponse> state) {
        SelectedItems.Clear();
        this.Loading = true;
        var filter = new SearchFilter {
            Page = Current,
            PerPage = state.PageSize,
            Search = Search.Length > 2 ? Search : null
        };
        var items = await Http.GetAllAsync(filter);
        this.Loading = false;
        return new GridData<TeamResponse> {
            Items = items.Data,
            TotalItems = items.Total
        };
    }
    
    private Func<TeamResponse, bool> Filter => x =>
    string.IsNullOrWhiteSpace(Search)
    || x.Name.Contains(Search, StringComparison.OrdinalIgnoreCase);
    
    private async Task ArchiveSelectedItems(bool allow) {
        if (!allow) return;
        List<Guid> items = SelectedItems
        .Where(f => f?.Id != null)
        .Select(f => ((Guid) f.Id!)).ToList();
        if (items.Count > 0) {
            var result = (await Http.ArchiveRangeAsync(items));
            await ReloadList(result.Succeeded);
        }
    }
    
    private async Task ReloadList(bool reload) {
        if (reload) await _dataGrid!.ReloadServerData();
    }
}

<Title>Teams</Title>

<MudDataGrid @ref="_dataGrid" T="TeamResponse" MultiSelection="true" SelectedItems="SelectedItems" ServerData="ServerDataFunc"
             Loading="Loading" Height="@WebConst.TableHeight" Hover="true" FixedHeader="true" FixedFooter="true"
             SortMode="SortMode.Multiple" Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="Current">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="MutateTeam"
                          OnCreateClicked="ReloadList" IsFilterActive="false" @bind-Search="Search">
                <ArchiveConfirmation Count="@SelectedItems.Count" OnArchived="ArchiveSelectedItems"></ArchiveConfirmation>
            </TableToolbar>
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <SelectColumn T="TeamResponse" ShowInFooter="false" ShowInHeader="false" />
        <Column T="TeamResponse" Field="Name" />
        <Column T="TeamResponse" Field="Active" />
        <Column T="TeamResponse" Field="Manager">
            <CellTemplate>
                @(context.Item.Manager?.FullName ?? "Un-Assigned")
            </CellTemplate>
        </Column>
        <Column T="TeamResponse" Field="Company">
            <CellTemplate>
                @(context.Item.Company?.ShortName ?? "Un-Assigned")
            </CellTemplate>
        </Column>
        <Column T="TeamResponse" Field="Description" />
        <Column T="TeamResponse">
            <CellTemplate>
                <FormEditTrigger TForm="MutateTeam" Id="context.Item.Id!.Value" OnTriggered="ReloadList"></FormEditTrigger>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="TeamResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>