@using System.Reflection
@code {
    private void OnNavigateAsync(NavigationContext args) { }
    private readonly Assembly _rootAssembly = typeof(ClientApp).Assembly;
    private readonly Assembly[] _extraAssembly = { typeof(MainLayout).Assembly };
}

<RootWrapper>
    <CascadingAuthenticationState>
    <Router AppAssembly="@_rootAssembly" AdditionalAssemblies="@_extraAssembly" OnNavigateAsync="OnNavigateAsync">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <Title>Not Found</Title>
            <LayoutView Layout="@typeof(MainLayout)">
                <ErrorFound />
            </LayoutView>
        </NotFound>
    </Router>
    </CascadingAuthenticationState>
</RootWrapper>