@using XClaim.Common.Dtos
@inject ICompanyService Http
@page "/app/settings/companies"
@attribute [Authorize]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private DateRange _dateRange = WebConst.AppDateRange;
    private IEnumerable<CompanyResponse> _elements = new List<CompanyResponse>();
    private HashSet<CompanyResponse> SelectedItems { get; set; } = new HashSet<CompanyResponse>();
    private int CurrentPage { get; set; } = 1;
    
    protected override async Task OnInitializedAsync() => await LoadItems();

    private async Task LoadItems() {
        this.Loading = true;
        _elements = await Http.GetAllAsync();
        this.Loading = false;
    }

    private void ArchiveSelectedItems(bool result) => Console.WriteLine(result);
    
    private Func<CompanyResponse, bool> Filter => x =>
    string.IsNullOrWhiteSpace(Search)
    || x.ShortName.Contains(Search, StringComparison.OrdinalIgnoreCase)
    || x.FullName.Contains(Search, StringComparison.OrdinalIgnoreCase)
    || x.AdminEmail.Contains(Search, StringComparison.OrdinalIgnoreCase);
}

<Title>Organizations</Title>

<MudDataGrid T="CompanyResponse" FixedFooter="true" Items="@_elements" MultiSelection="true" SelectedItems="SelectedItems" Loading="Loading" Height="@WebConst.TableHeight" Hover="true"
             SortMode="SortMode.Multiple" Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="CurrentPage">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="FormDialog" IsFilterActive="true" @bind-Value="_dateRange" @bind-Search="Search">
            <ArchiveConfirmation Count="@SelectedItems.Count" OnDeleted="ArchiveSelectedItems"></ArchiveConfirmation>
        </TableToolbar>
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <SelectColumn T="CompanyResponse" ShowInFooter="false" ShowInHeader="false" />
        <Column T="CompanyResponse" Field="FullName" Title="Name" />
        <Column T="CompanyResponse" Field="Active" />
        <Column T="CompanyResponse" Field="Manager">
            <CellTemplate>
                @(context.Item.Manager?.FullName ?? "Un-Assigned")
            </CellTemplate>
        </Column>
        <Column T="CompanyResponse">
            <CellTemplate>
                <MudIconButton Class="pa-2" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Warning" />
                <MudIconButton Class="pa-2 ml-1" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" />
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="CompanyResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>