@page "/app/registration"
@attribute [Authorize]

@code {
    
}

<Title>Registration</Title>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Verify Account</MudText>
    <MudGrid Justify="Justify.Center" Class="mt-8">
        <MudItem xs="12" md="6">
            <MudGrid>
                <MudItem  xs="12" Class="d-flex justify-center">
                    <MudSelect T="string" Label="Company" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Outlined" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary">
                        <MudSelectItem Value="@("foo")">Foo</MudSelectItem>
                        <MudSelectItem Value="@("bar")">Bar</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField Variant="Variant.Outlined" T="string" Label="First Name"/>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField Variant="Variant.Outlined" T="string" Label="Last Name"/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Variant="Variant.Outlined" T="string" Label="Email"/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Variant="Variant.Outlined" T="string" Label="Mobile Number"/>
                </MudItem>
                <MudItem  xs="12">
                     <MudSelect T="string" Label="Currency" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Outlined" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary">
                         <MudSelectItem Value="@("Naira")">Naira</MudSelectItem>
                         <MudSelectItem Value="@("Dollar")">Dollar</MudSelectItem>
                     </MudSelect>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Href="/app/claims" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8 px-12 py-3">Continue</MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudContainer>
