@page "/app/settings/users"

@using XClaim.Common.Dtos
@* @inject HttpClient HttpClient *@


@code {
    private string _searchText = "";
    private bool _filterTable = false;
    private HashSet<PaymentResponse> _selectedItems = new HashSet<PaymentResponse>();
    private IEnumerable<PaymentResponse> _elements = new List<PaymentResponse>();
    private bool _selectOnRowClick = true;
    // private MudTable<PaymentResponse>? _table;
    private string _selectedItemText = "No row clicked";
    private DateRange _dateRange = new DateRange(DateTime.Now.AddDays(-7).Date, DateTime.Now.Date);

    // protected override async Task OnInitializedAsync() {
    //     _elements = await HttpClient.GetFromJsonAsync<List<PaymentDto>>("api/source");
    // }

    void OnRowClick(TableRowClickEventArgs<PaymentResponse> args) {
        _selectedItemText = $"{args.Item.Amount}";
    }
}

<MudDialog @bind-IsVisible="_filterTable">
    <TitleContent>
        <MudText Typo="Typo.h6">
           Filter period
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="pa-2">
            <MudDateRangePicker Label="Range picker" DateFormat="dd-MMM-yyyy" TitleDateFormat="dddd, dd. MMMM" @bind-DateRange="_dateRange" />
        </div>
    </DialogContent>
</MudDialog>

<MudTable @bind-SelectedItems="_selectedItems" @bind-SelectOnRowClick="@_selectOnRowClick" Height="500px" Hover="true" Items="@_elements" MultiSelection="true" OnRowClick="@OnRowClick" T="PaymentResponse">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Users Management</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchText" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.FilterAlt" Color="Color.Primary" OnClick="() => _filterTable = !_filterTable" Class="px-10"></MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>First name</MudTh>
        <MudTh>Last name</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Company</MudTh>
        <MudTh>Permission</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Description">x</MudTd>
        <MudTd DataLabel="Amount">@context.Amount</MudTd>
        <MudTd DataLabel="Category">x</MudTd>
        <MudTd DataLabel="Status">x</MudTd>
        <MudTd DataLabel="Status">x</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new [] { 50, 100 }"/>
    </PagerContent>
    <FooterContent>
        <MudTd colspan="5">Select All</MudTd>
    </FooterContent>
</MudTable>