@using XClaim.Common.Dtos
@using XClaim.Common.Helpers
@inject IClaimService Http
@inject AuthState AuthState
@page "/app/reviews"
@attribute [Authorize(Roles = "System, Administrator, Finance, Lead")]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private int Current { get; set; } = 1;
    private DateRange DateRange { get; set; } = WebConst.AppDateRange;
    MudDataGrid<ClaimStateResponse>? _dataGrid;
    private string? DefaultCurrency { get;set; }
    
    private HashSet<ClaimStateResponse> SelectedItems { get; set; } = new HashSet<ClaimStateResponse>();
    
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        var user = await AuthState.GetAccount();
        DefaultCurrency = user!.Currency!.Symbol ?? "$";
    }
    
    private Func<ClaimStateResponse, bool> Filter => x =>
    string.IsNullOrWhiteSpace(Search)
    || x.Description!.Contains(Search, StringComparison.OrdinalIgnoreCase)
    || x.Notes!.Contains(Search, StringComparison.OrdinalIgnoreCase);
    
    private async Task<GridData<ClaimStateResponse>> ServerDataFunc(GridState<ClaimStateResponse> state) {
        SelectedItems.Clear();
        this.Loading = true;
        var filter = new DateSearchFilter {
            Page = Current,
            PerPage = state.PageSize,
            Search = Search.Length > 2 ? Search : null 
        };
        var items = await Http.GetReviewAllAsync(filter);
        this.Loading = false;
        return new GridData<ClaimStateResponse> {
            Items = items.Data,
            TotalItems = items.Total
        };
    }
    
    private async Task ReloadList(bool reload) {
        if (reload) await _dataGrid!.ReloadServerData();
    }
}

<Title>Claim Reviews</Title>

<MudDataGrid @ref="_dataGrid" T="ClaimStateResponse" MultiSelection="true" ServerData="ServerDataFunc" SelectedItems="SelectedItems" 
             Loading="Loading" Height="@WebConst.TableHeight" Hover="true" FixedHeader="true" FixedFooter="true"
             SortMode="SortMode.Multiple" Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="Current">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="MutateReview" @bind-Value="DateRange"
                      IsFilterActive="true" IsCreateActive="false" @bind-Search="Search" />
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <Column T="ClaimStateResponse" Field="Description" />
        <Column T="ClaimStateResponse" Field="Owner">
            <CellTemplate>
                @(context.Item.Owner ?? "None")
            </CellTemplate>
        </Column>
        <Column T="ClaimStateResponse" Field="Amount">
            <CellTemplate>
                @(context.Item.Currency ?? DefaultCurrency)@($"{context.Item.Amount:N0}")
            </CellTemplate>
        </Column>
        <Column T="ClaimStateResponse" Field="Category" />
        <Column T="ClaimStateResponse" Field="Status" />
        <Column T="ClaimStateResponse">
            <CellTemplate>
                <FormEditTrigger TForm="MutateReview" Id="context.Item.Id!.Value" Icon="@Icons.Material.Filled.Menu" OnTriggered="ReloadList"></FormEditTrigger>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="ClaimStateResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>