@using XClaim.Common.Dtos
@inject IClaimService Http
@page "/app/reviews"
@attribute [Authorize]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private DateRange _dateRange = WebConst.AppDateRange;
    private IEnumerable<ClaimResponse> _elements = new List<ClaimResponse>();
    private HashSet<ClaimResponse> SelectedItems { get; set; } = new HashSet<ClaimResponse>();
    private int CurrentPage { get; set; } = 1;
    
    protected override async Task OnInitializedAsync() => await LoadItems();

    private async Task LoadItems() {
        this.Loading = true;
        _elements = await Http.GetReviewsAsync();
        this.Loading = false;
    }

    private void ArchiveSelectedItems(bool result) => Console.WriteLine(result);
    
    private Func<ClaimResponse, bool> Filter => x =>
    string.IsNullOrWhiteSpace(Search)
    || x.Description.Contains(Search, StringComparison.OrdinalIgnoreCase)
    || x.Notes.Contains(Search, StringComparison.OrdinalIgnoreCase);
}

<Title>Claim Reviews</Title>

<MudDataGrid T="ClaimResponse" Items="@_elements" MultiSelection="true" SelectedItems="SelectedItems" Loading="Loading" Height="@WebConst.TableHeight" Hover="true"
             SortMode="SortMode.Multiple" Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="CurrentPage">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="FormDialog" IsFilterActive="true" @bind-Value="_dateRange" @bind-Search="Search">
            <ArchiveConfirmation Count="@SelectedItems.Count" OnArchived="ArchiveSelectedItems"></ArchiveConfirmation>
        </TableToolbar>
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <SelectColumn T="ClaimResponse" ShowInFooter="false" ShowInHeader="false" />
        <Column T="ClaimResponse" Field="Description" />
        <Column T="ClaimResponse" Field="Owner">
            <CellTemplate>
                @context.Item.Owner?.FullName
            </CellTemplate>
        </Column>
        <Column T="ClaimResponse" Field="Amount" />
        <Column T="ClaimResponse" Field="Category" />
        <Column T="ClaimResponse" Field="Status" />
        <Column T="ClaimResponse">
            <CellTemplate>
                <MudIconButton Class="pa-2" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Warning" />
                <MudIconButton Class="pa-2 ml-1" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" />
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="ClaimResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>