@using XClaim.Common.Dtos
@inject IBankService Http

@page "/app/settings/banks"

@code {
    private string _search = string.Empty;
    private DateRange _dateRange = WebConst.AppDateRange;
    private HashSet<BankResponse> _selectedItems = new HashSet<BankResponse>();
    private IEnumerable<BankResponse> _elements = new List<BankResponse>();
    private bool _selectOnRowClick = true;
    void OnRowClick(TableRowClickEventArgs<BankResponse> args) { }
    
    protected override async Task OnInitializedAsync() {
        _elements = await Http.GetBanksAsync();
    }

    private void CheckDeleted(bool result) {
        Console.WriteLine(result);
    }
}

<Title>Banks</Title>

<MudTable @bind-SelectedItems="_selectedItems" @bind-SelectOnRowClick="@_selectOnRowClick" Height="calc(100vh - 256px)" Hover="true" Items="@_elements" MultiSelection="true" OnRowClick="@OnRowClick" T="BankResponse">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="FormDialog" IsFilterActive="true" @bind-Value="_dateRange" @bind-Search="_search">
            @* <MudIconButton Class="pa-2 ml-1" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Error" Size="Size.Large" /> *@
            <DeleteConfirmation OnDeleted="CheckDeleted"></DeleteConfirmation>
        </TableToolbar>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Active</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Active">@context.Active</MudTd>
        <MudTd DataLabel="Active">
            <MudIconButton Class="pa-2" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Warning" />
            <MudIconButton Class="pa-2 ml-1" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new [] { 50, 100 }"/>
    </PagerContent>
    @* <FooterContent> *@
    @*     <MudTd colspan="5">Select All</MudTd> *@
    @* </FooterContent> *@
</MudTable>