@code {

    private async Task OnNavigateAsync(NavigationContext args) { }

}

<RootWrapper>
    <CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(MainLayout).Assembly }" OnNavigateAsync="OnNavigateAsync">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <Title>Not Found</Title>
            <AuthorizeView>
                <Authorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <ErrorFound />
                    </LayoutView>
                </Authorized>
                <NotAuthorized>
                    <LayoutView Layout="@typeof(AuthLayout)">
                        <ErrorFound />
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeView>
        </NotFound>
    </Router>
    </CascadingAuthenticationState>
</RootWrapper>